#
# .gitignore
#

# Ignore .gitignore itself
#/.gitignore

# Ignore Geany Project Files
/*.geany

# Ignore CodeLite and Eclipse Project Files
/.settings
/*.project
/*.cproject

# Ignore prepared commit message
/.commit.msg

# Ignore GnuHerd 'fc2.mnu' files
fc2.mnu

# Ignore scratch files and directories
...

# Selectively include the files required to build the manual
/manual
/manual/*
!/manual
!/manual/Makefile
!/manual/GNUmakefile
!/manual/airboot-manual.gmk
!/manual/airboot-manual.gmi
!/manual/airboot-manual.info
!/manual/airboot-manual.his
!/manual/airboot-manual.odt
!/manual/airboot-manual.pdf
!/manual/fc.mnu
#~ !/manual/fc?.mnu
!/manual/odt2ipf.xsl
!/manual/format.xsl
!/manual/images
/manual/images/*
!/manual/images/clips.xcf
